<!DOCTYPE html>
<html>
<head>
  <title>Youtopia</title>
  <link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>
<body>
  {% block vid %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="assets/js/{{ script }}.js"></script>
</body>
</html>
