body {
  background: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.vid {
  margin: auto;
}

.index {
  height: 50vh;
  flex: 1 50%;
}

.single {
  height: 100vh;
  flex: 1 100%;
}

